*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    height: 100vh !important;
}
.chat-container{
    height: 80vh !important;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}
.title{
    text-align: center;
    font-size: small;
    margin-bottom: 10px;
}